$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

$neutral-dark-blue: hsl(234, 12%, 34%);
$neutral-gray-blue: hsl(229, 6%, 66%);
$neutral-light-blue: hsl(0, 0%, 98%);

$font-size-body: 15px;
$font-size-title : 2rem, 1.5rem; 
$font-weight: 200, 400, 900; //font-weight: nth($font-weight, 3);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-body;
    background: $neutral-light-blue;
}

main, header{
    width: 90vw;
    text-align: center;
    h1{
        color: $neutral-dark-blue;
        font-weight: nth($font-weight, 1);
        font-size: 1.4rem;
        font-size: nth($font-size-title, 2);
    }
    h2{
        color: $neutral-dark-blue;
        font-weight: nth($font-weight, 3);
        font-size: nth($font-size-title, 2);
    }
    p{
        color: $neutral-gray-blue;
        font-weight: nth($font-weight, 2);
        &:nth-of-type(1){
           padding: 0 20px;
        }
    }
}

@media only screen and (min-width: 375px) {
    @import 'mobile';
} 